[user]
	name = bartek 'basz' szurgot
	#email = a@b.c
	#signingkey = ABCDEF01
[color]
	ui = auto
[merge]
	tool = kdiff3
[core]
	pager = less -FRSX
	editor = vim
[alias]
	ci = commit
	st = status
	co = checkout
	unstage = reset HEAD --
	br = branch
[push]
	default = simple
	autoSetupRemote = true
	followTags = true
[commit]
	gpgsign = true
	verbose = true
[pull]
	rebase = false
[init]
	defaultBranch = master
[diff]
	algorithm = histogram
	colorMoved = plain
	mnemonicPrefix = true
	renames = true
