[user]
	name = bartek 'basz' szurgot
	#email = a@b.c
	#signingkey = DB8991C8
[color]
	ui = auto
[merge]
	tool = kdiff3
[core]
	pager = less -FRSX
	editor = vim
[alias]
	ci = commit
	st = status
	co = checkout
	unstage = reset HEAD --
	br = branch
[push]
	default = simple
[commit]
	gpgsign = true
